<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.DeliverymanDao">
    <update id="updatePassword">
        UPDATE ps_deliveryman
        SET password=#{password}
        WHERE deliveryman_id=#{id}
    </update>

    <select id="getInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        *
        FROM ps_deliveryman
        WHERE deliveryman_id=#{id}
    </select>
</mapper>
