<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.DeliverymanDao">
    <update id="updatePassword">
        UPDATE ps_deliveryman
        SET password=#{password}
        WHERE deliveryman_id=#{deliverymanId}
    </update>
    <update id="logoutTime">
        UPDATE ps_deliveryman
        SET state=#{state},updated_time=now(),logout_time=now()
        WHERE deliveryman_id=#{deliverymanId}
    </update>
    <update id="logTime">
        UPDATE ps_deliveryman
        SET state=#{state},updated_time=now(),login_time=now()
        WHERE deliveryman_id=#{deliverymanId}
    </update>

    <select id="getInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        deliveryman_id     deliverymanId,
        name               name,
        phone              phone,
        wallet             wallet,
        state              state,
        DATE_FORMAT(updated_time, '%Y.%m.%d %T') updatedTime,
        DATE_FORMAT(logout_time, '%Y.%m.%d %T') logoutTime,
        DATE_FORMAT(login_time, '%Y.%m.%d %T') loginTime
        FROM ps_deliveryman
        WHERE deliveryman_id=#{deliverymanId}
    </select>

    <select id="getAllDeliveryman"  resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        deliveryman_id     deliverymanId,
        name               name,
        phone              phone,
        wallet             wallet,
        state              state,
        DATE_FORMAT(updated_time, '%Y.%m.%d %T') updatedTime,
        DATE_FORMAT(logout_time, '%Y.%m.%d %T') logoutTime,
        DATE_FORMAT(login_time, '%Y.%m.%d %T') loginTime
        FROM ps_deliveryman
    </select>
</mapper>
